{{#if products}}
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="list-group">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{# each products}}
                            <tr>
                                <td>
                                   {{this.item.name}} 
                                </td>
                                <td>
                                    {{this.item.price}}
                                </td>
                                <td>
                                    {{this.qty}}
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-primary">
                                            <a href="cart/reduce/{{ this.item._id }}" style="color: white;">Reduce by 1</a>
                                        </button>
                    
                                        <button type="button" class="btn btn-danger">
                                            <a href="cart/remove/{{ this.item._id }}" style="color: white;">Remove All</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>               
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <strong style="margin-left:10% ;">Total price: $ {{ totalPrice }} </strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="/checkout" class="btn btn-raised  btn-success">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="d-flex justify-content-center" style="margin-top: 30px;">
        <h2>Oops, your cart is empty</h2>      
    </div>
    <div class="d-flex justify-content-center">
        <img src="https://assets.materialup.com/uploads/66fb8bdf-29db-40a2-996b-60f3192ea7f0/preview.png" alt="Empty cart">
    </div>
{{/if}}